/* Alap navigáció */
.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  background-color: #212529fa;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.logo img {
  height: 60px; ;
  width: auto;

}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}



.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Hamburger */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background: white;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
}

.navbar.scrolled .nav-links a {
  border-bottom: none;  /* görgetés után eltűnik a csík */
}

/* természetesen marad a hover színváltozás */
.nav-links a:hover {
  border-bottom: 3px solid #c59d5f;
}


.menu-toggle.open .bar:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* Mobil */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #212529fa;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-links.open {
    max-height: 400px;
  }

  .nav-links li {
    margin: 1rem 0;
  }
}


.gold {
    color: #c59d5f;
}